SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_USERNAME=your_email@example.com
SMTP_PASSWORD=your_password
SMTP_FROM_EMAIL=your_email@example.com
SMTP_FROM_NAME=Dev-Bibliotec
SUPPORT_EMAIL=your_email@example.com
