.card-details {
    border: 1px solid #ced4da;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.card-details:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comment-date {
    user-select: none;
    color: #6c757d;
}

i.estrella {
    color: palegoldenrod;
    font-size: larger;
    transition: color 0.3s;
    cursor: pointer;    
}

.estrella:hover,
.estrella.checado{
    color: gold;

}