.card-details {
    border: 1px solid #ced4da;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.card-details:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comment-date {
    user-select: none;
    color: #6c757d;
}

.bi-flag-fill {
    font-size: xx-small;
}

.btn-outline-danger{
    color: #E36B6B;
    font-size: xx-small;
}

.bi-star-fill {
    color: palegoldenrod;
    font-size: larger;
    transition: color 0.2s;
    cursor: pointer;    
}

.estrella {
    color: gold;
}

.bi-star-fill:hover,
.bi-star-fill.checado{
    color: gold;

}